name: Сборка OnePlus_SukiSU Ultra All
on:
  workflow_dispatch:
    inputs:
      CPU:
        type: choice
        description: "Ветка (CPU)"
        required: true
        default: sm8650
        options:
          - sm7550
          - sm7675
          - sm8450
          - sm8475
          - sm8550
          - sm8650
          - sm8750
          - sm8850
      FEIL:
        type: choice
        description: "Конфигурационный файл"
        required: true
        default: oneplus_13r
        options:
          - oneplus_nord_ce4_v
          - oneplus_ace_3v_v
          - oneplus_nord_4_v
          - oneplus_10_pro_v
          - oneplus_10t_v
          - oneplus_11r_v
          - oneplus_ace2_v
          - oneplus_ace_pro_v
          - oneplus_11_v
          - oneplus_12r_v
          - oneplus_ace2_pro_v
          - oneplus_ace3_v
          - oneplus_open_v
          - oneplus_12_v
          - oneplus_13r
          - oneplus_ace3_pro_v
          - oneplus_ace5
          - oneplus_pad2_v
          - oneplus_13
          - oneplus_13t
          - oneplus_ace5_pro
          - oneplus_pad_2_pro
          - oneplus_pad_3
          - oneplus_15
      CPUD:
        type: choice
        description: "Кодовое имя процессора"
        required: true
        default: pineapple
        options:
          - crow
          - waipio
          - kalama
          - pineapple
          - sun
          - canoe
      ANDROID_VERSION:
        type: choice
        description: "Версия Android ядра"
        required: true
        default: android14
        options:
          - android12
          - android13
          - android14
          - android15
          - android16
      KERNEL_VERSION:
       type: choice
       description: "Версия ядра"
       required: true
       default: "6.1"
       options:
         - "5.10"
         - "5.15"
         - "6.1"
         - "6.6"
         - "6.12"
      BUILD_METHOD:
        type: choice
        description: "Метод сборки"
        required: true
        default: gki
        options:
          - gki
          - perf
      SUSFS_CI:
        type: boolean
        description: "Использовать CI для загрузки модуля SUSFS?"
        required: true
        default: false
      VFS:
        type: boolean
        description: "Включить ручные хуки?"
        required: true
        default: false
      KPM:
        type: boolean
        description: "Включить KPM?"
        required: true
        default: false
      ZRAM:
        type: boolean
        description: "Включить ZRAM (LZ4KD)?"
        required: true
        default: false


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Увеличение пространства для сборки
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          swap-size-mb: 8192
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - name: Настройка Git
        run: |
          git config --global user.name "Numbersf"
          git config --global user.email "263623064@qq.com"

      - name: Установка зависимостей
        run: |
          sudo apt update && sudo apt upgrade -y
          sudo apt install -y python3 git curl jq wget

      - name: Установка инструмента repo
        run: |
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/repo
          chmod a+x ~/repo
          sudo mv ~/repo /usr/local/bin/repo

      - name: Инициализация репозитория и синхронизация
        run: |
          mkdir kernel_workspace && cd kernel_workspace
          repo init -u https://github.com/OnePlusOSS/kernel_manifest.git -b refs/heads/oneplus/${{ github.event.inputs.CPU }} -m ${{ github.event.inputs.FEIL }}.xml --depth=1
          repo sync -j$(nproc)
          
          # Удаление списков защищенных экспортов (предотвращает конфликты символов в GKI)
          if [ -d kernel_platform/common/android ]; then
            rm -f kernel_platform/common/android/abi_gki_protected_exports_*
          fi
          if [ -d kernel_platform/msm-kernel/android ]; then
            rm -f kernel_platform/msm-kernel/android/abi_gki_protected_exports_*
          fi

      - name: Принудительное удаление суффикса -dirty
        run: |
          cd kernel_workspace/kernel_platform
          find . -name "setlocalversion" -exec sed -i 's/ -dirty//g' {} +

      - name: Добавление KernelSU-SukiSU Ultra
        run: |
          cd kernel_workspace/kernel_platform
          curl -LSs "https://raw.githubusercontent.com/SukiSU-Ultra/SukiSU-Ultra/main/kernel/setup.sh" | bash -s builtin
          cd ./KernelSU
          KSU_VERSION=$(expr $(git rev-list --count main) "+" 10606)
          echo "KSUVER=$KSU_VERSION" >> $GITHUB_ENV
          sed -i "s/DKSU_VERSION=12800/DKSU_VERSION=${KSU_VERSION}/" kernel/Makefile

      - name: Применение патчей (SUSFS, LZ4KD, Hide)
        run: |
          cd kernel_workspace
          git clone https://gitlab.com/simonpunk/susfs4ksu.git -b gki-${{ github.event.inputs.ANDROID_VERSION }}-${{ github.event.inputs.KERNEL_VERSION }}
          git clone https://github.com/ShirkNeko/SukiSU_patch.git
          
          cd kernel_platform
          # SUSFS
          cp ../susfs4ksu/kernel_patches/50_add_susfs_in_gki-${{ github.event.inputs.ANDROID_VERSION }}-${{ github.event.inputs.KERNEL_VERSION }}.patch ./common/
          cp ../susfs4ksu/kernel_patches/fs/* ./common/fs/
          cp ../susfs4ksu/kernel_patches/include/linux/* ./common/include/linux/
          
          # LZ4KD (ZRAM)
          if [ "${{ github.event.inputs.ZRAM }}" = "true" ]; then
            cp -r ../SukiSU_patch/other/zram/lz4k/include/linux/* ./common/include/linux
            cp -r ../SukiSU_patch/other/zram/lz4k/lib/* ./common/lib
            cp -r ../SukiSU_patch/other/zram/lz4k/crypto/* ./common/crypto
            cp -r ../SukiSU_patch/other/zram/lz4k_oplus ./common/lib/
          fi
          
          cd ./common
          patch -p1 < 50_add_susfs_in_gki-${{ github.event.inputs.ANDROID_VERSION }}-${{ github.event.inputs.KERNEL_VERSION }}.patch || true
          
          # Hide Patch
          cp ../../SukiSU_patch/69_hide_stuff.patch ./
          patch -p1 -F 3 < 69_hide_stuff.patch || true
          
          # LZ4KD Patch
          if [ "${{ github.event.inputs.ZRAM }}" = "true" ]; then
            patch -p1 -F 3 < ../../SukiSU_patch/other/zram/zram_patch/${{ github.event.inputs.KERNEL_VERSION }}/lz4kd.patch || true
          fi

      - name: Настройка конфигурации (Fix Double Export)
        run: |
          cd kernel_workspace/kernel_platform
          GKI_DEF=./common/arch/arm64/configs/gki_defconfig
          # КРИТИЧЕСКИЙ ПУТЬ ДЛЯ PINEAPPLE
          VENDOR_CONF=./msm-kernel/arch/arm64/configs/vendor/${{ github.event.inputs.CPUD }}_GKI.config
          
          # Включение KSU и KPM
          echo "CONFIG_KSU=y" >> $GKI_DEF
          echo "CONFIG_KPM=y" >> $GKI_DEF
          echo "CONFIG_KSU_SUSFS=y" >> $GKI_DEF
          echo "CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y" >> $GKI_DEF
          echo "CONFIG_KSU_SUSFS_SUS_PATH=y" >> $GKI_DEF
          echo "CONFIG_KSU_SUSFS_SUS_MOUNT=y" >> $GKI_DEF
          
          if [ "${{ github.event.inputs.ZRAM }}" = "true" ]; then
            # Фикс для предотвращения двойного экспорта символов zsmalloc
            # 1. Меняем в базовом конфиге
            sed -i 's/CONFIG_ZSMALLOC=m/CONFIG_ZSMALLOC=y/g' $GKI_DEF
            sed -i 's/CONFIG_ZRAM=m/CONFIG_ZRAM=y/g' $GKI_DEF
            echo "CONFIG_ZSMALLOC=y" >> $GKI_DEF
            echo "CONFIG_ZRAM=y" >> $GKI_DEF
            
            # 2. Меняем в конфиге вендора (именно здесь Pineapple часто оставляет 'm')
            if [ -f "$VENDOR_CONF" ]; then
              sed -i 's/CONFIG_ZSMALLOC=m/CONFIG_ZSMALLOC=y/g' $VENDOR_CONF
              sed -i 's/CONFIG_ZRAM=m/CONFIG_ZRAM=y/g' $VENDOR_CONF
              echo "CONFIG_ZSMALLOC=y" >> $VENDOR_CONF
              echo "CONFIG_ZRAM=y" >> $VENDOR_CONF
            fi
            
            # 3. Удаляем zram и zsmalloc из списков сборки модулей Bazel
            find . -name "*.bzl" -exec sed -i '/zram.ko/d' {} +
            find . -name "*.bzl" -exec sed -i '/zsmalloc.ko/d' {} +
            find common/android -name "gki_*modules*" -exec sed -i '/zsmalloc/d' {} +
            find common/android -name "gki_*modules*" -exec sed -i '/zram/d' {} +
            
            # Настройки LZ4KD
            echo "CONFIG_CRYPTO_LZ4K=y" >> $GKI_DEF
            echo "CONFIG_CRYPTO_LZ4KD=y" >> $GKI_DEF
            echo "CONFIG_ZRAM_DEF_COMP_LZ4KD=y" >> $GKI_DEF
            echo "CONFIG_CRYPTO_LZ4HC=y" >> $GKI_DEF
          fi
          
          # Отключение проверки конфига
          sed -i 's/check_defconfig//' ./common/build.config.gki || true

      - name: Сборка ядра
        run: |
          cd kernel_workspace
          if [ "${{ github.event.inputs.CPU }}" = "sm8650" ] || [ "${{ github.event.inputs.CPU }}" = "sm7675" ]; then
            ./kernel_platform/build_with_bazel.py -t ${{ github.event.inputs.CPUD }} ${{ github.event.inputs.BUILD_METHOD }}
          else
            LTO=thin ./kernel_platform/oplus/build/oplus_build_kernel.sh ${{ github.event.inputs.CPUD }} ${{ github.event.inputs.BUILD_METHOD }}
          fi

      - name: Подготовка AnyKernel3
        run: |
          git clone https://github.com/Numbersf/AnyKernel3 --depth=1 AnyKernel3
          rm -rf ./AnyKernel3/.git
          
          # Поиск собранного Image
          IMAGE=$(find kernel_workspace/kernel_platform/out -name Image | head -n 1)
          if [ -f "$IMAGE" ]; then
            cp "$IMAGE" ./AnyKernel3/Image
          else
            echo "ОШИБКА: Image не найден!"
            exit 1
          fi
          
          # Применение патча KPM к Image
          if [ "${{ github.event.inputs.KPM }}" = "true" ]; then
            cd AnyKernel3
            curl -LSs "https://raw.githubusercontent.com/ShirkNeko/SukiSU_patch/refs/heads/main/kpm/patch_linux" -o patch_linux
            chmod +x patch_linux
            ./patch_linux
            mv oImage Image
            cd ..
          fi

      - name: Загрузка модуля SUSFS
        run: |
          if [ "${{ github.event.inputs.SUSFS_CI }}" = "true" ]; then
             # Логика загрузки из CI (упрощена)
             curl -LSs "https://github.com/sidex15/ksu_module_susfs/releases/latest/download/ksu_module_susfs_1.5.2+.zip" -o ./AnyKernel3/ksu_module_susfs.zip
          else
             wget https://github.com/sidex15/ksu_module_susfs/releases/latest/download/ksu_module_susfs_1.5.2+.zip -O ./AnyKernel3/ksu_module_susfs.zip
          fi

      - name: Загрузка артефактов
        uses: actions/upload-artifact@v4
        with:
          name: AnyKernel3_SukiSU_${{ env.KSUVER }}_${{ github.event.inputs.FEIL }}
          path: ./AnyKernel3/*